<h1>Mood Details</h1>

<p><strong>Phrase:</strong> <%= @mood.phrase %></p>
<p><strong>Article:</strong> <%= @mood.article %></p>
<p><strong>Date Searched:</strong> <%= @mood.dateSearched %></p>

<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>
